.banner_content {
  background-image: url("../assets/content_banners.jpg");
  background-size: cover;
  /* Scales the image to fill the container */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  position: relative;
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 20%);
  mask-image: linear-gradient(to top, transparent 10%, black 20%);
}
